.svg-wrap{
z-index:6;
width:auto;
position:relative}
.svg-wrap a{width:auto;margin:1px auto}
#svgLinks>div.svgWW{display:inline-block;position:relative;top:1ex}
.svg-wrap svg{font-family:'Free Sans';font-size:40px;position:absolute;vertical-align:top}
#svgLinks>div a>svg{left:0}
@media (min-width:1261px){.svgWW{margin:0 4ex}}
@media (min-width:1081px) and (max-width:1260px){.svgWW{margin:0 1ex}}
@media (min-width:901px) and (max-width:1080px){.svgWW{margin:0 6ex}}
@media (min-width:671px) and (max-width:900px){.svgWW{margin:0 4ex}}
@media (max-width:670px){.svgWW{margin:0 1ex}}
#obtn{position:relative;top:1.5em}
#obtn>div>a::after{
font-size:20px;
line-height:12px;top:0;
display:inline-block;
position:absolute;
padding-left:.2em;
font-family:local;content:"\\";color:#C7C7C7;
animation:invite1 .3s alternate ease infinite}
#obtn>div:hover>a::after{color:white;animation:invite2 .2s alternate ease infinite}
#obtn>div{
width:9em;padding:11px .5em 10px 0;box-shadow:0 0 1em rgba(255,255,255,.5);
font-size:16px;background-color:rgba(0,0,0,.25);
border-radius:10px;margin:0 auto;border:solid 2px rgba(255,255,255,0.5);transition:all .6s}
#obtn>div:hover{cursor:pointer;border-color:#8AB933;background:#5C261B}
#obtn>div:hover>a{color:white}
div.text-ani{
height:57px;padding:0 55px 0 0;
overflow:hidden;
white-space:nowrap;overflow:hidden;padding:0}
div.text-ani>ul{
margin-top:0;padding-left:2em;text-align:left;list-style:none;
animation-name:weAre;animation-duration:30s;animation-iteration-count:infinite}
@keyframes weAre{
0%,12.66%,100%{transform:translate(0,0)}
16.66%,29.32%{transform:translate(0,-25%)}
33.32%,45.98%{transform:translate(0,-50%)}
49.98%,62.64%{transform:translate(0,-75%)}
66.64%,79.3%{transform:translate(0,-50%)}
83.3%,95.96%{transform:translate(0,-25%)}}
#svgLinks>div.svgWW>div.svg-wrap>a:hover>svg{filter:url(#f2)}
#svgLinks>div.svgWW>div.svg-wrap>a>svg{fill:url(#lightcenter)}
#svgLinks>div.svgWW>div.svg-wrap>a:hover>svg{fill:#92D98C}
#central{font-size:400%;color:#ecf0f1}
a.button{background:transparent;color:white;font-family:"Free Sans"}
@keyframes invite1{from{transform:translateX(1px)}to{transform:translateX(0)}}
@keyframes invite2{from{transform:translateX(3px)}to{transform:translateX(0)}}
article.story>h2::first-letter{font-family:"few icons";color:white;background:#414141;padding:5px}
@media (min-width:807px){
article.story:nth-child(3){width:40%}
article.story:nth-child(2){width:40%}}
#goup{background:rgba(0,0,0,0.4)}
a.hrow{
color:#201E80;transition:all .3s}
a.hrow:hover{color:#0D5F07}
