@font-face{font-display:fallback;font-family:"few icons";src:url("awesome.woff")}
@font-face{font-display:fallback;font-family:"Free Sans";src:url("we.otf")}
@font-face{font-display:fallback;font-family:"Gillius";src:url("Gillius.woff")}
@font-face{font-display:fallback;font-family:'Free Serif Italic';src:url('free-serif-italic.otf')}
@font-face{font-display:fallback;font-family:'Linux Libertine';src:url('LinLibertine_R.otf')}
